@{
    ViewBag.Title = "Index";
}

<h1>Welcome to Food Diary App</h1>

<h3>You can log your daily meal in this app.</h3>

<p>
    Before you record your meail, you have to register with your email address
</p>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h4>FYI</h4>
<p>
    Admin can add food info.
    Admin email-admin@gmail.com
    Admin Password-Psw#admin1
</p>